<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AIHub - Home</title>
  <meta
    content="Create, Train, and Deploy Machine Learning models easily. AI Platform for Noobs where you can train models on your own data and deploy it for your own use."
    name="description">
  <meta content="AIHub, aihub" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/home/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/home/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/home/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/home/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/home/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/home/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/home/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/home/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{{ url_for('home') }}">AIHub</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="getstarted scrollto" href="dashboard">Dashboard</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>One-Stop Destination for Machine Learning and Artificial Intelligence</h1>
          <h2>A centralized platform that offers end-to-end services related to Artificial Intelligence (AI) and Machine
            Learning (ML)</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="dashboard" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-community-fill"></i></div>
            <h4 class="title"><a href="">Centralised Platform</a></h4>
            <p class="description">We offers a comprehensive solution for machine learning and artificial intelligence
              needs.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-settings-2-line"></i></div>
            <h4 class="title"><a href="">Seamless Integration</a></h4>
            <p class="description">Seamlessly integrate with existing systems and workflows, ensuring a smooth
              transition and minimal disruption to business operations.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-bar-chart-box-line"></i></div>
            <h4 class="title"><a href="">Deployment & Monitoring</a></h4>
            <p class="description">Robust deployment and monitoring capabilities, allowing businesses to efficiently
              deploy ML models.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-organization-chart"></i></div>
            <h4 class="title"><a href="">Competetive Advantage</a></h4>
            <p class="description">Make data-driven decisions, improve operational efficiency, enhance customer
              experiences, and drive innovation.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Learn more about AIHub and its mission to change the world.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              At AIHub, we are driven by a passion for innovation and a belief in the transformative power of machine
              learning and artificial intelligence. Our dedicated team of experts has come together to create a
              centralized platform that revolutionizes the way businesses harness the potential of AI and ML.
            </p>
            <p> We understand the challenges faced by businesses when it comes to implementing AI and ML solutions.
              That's why we have developed AIHub - a comprehensive platform that provides user-friendly tools for data
              management, analysis, and model building. Our goal is to simplify the implementation process, making it
              accessible to businesses of all sizes and industries.
            </p>
            <p>
              With seamless integration capabilities, AIHub seamlessly fits into existing systems and workflows,
              ensuring a smooth transition and minimal disruption to business operations. We have designed AIHub to be
              versatile, adapting to the unique needs of different industries and business sizes.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              AIHub goes beyond just model building and analysis. Our platform offers robust deployment and monitoring
              capabilities, enabling businesses to efficiently deploy ML models into production and continuously monitor
              their performance for optimal results. We believe that true success lies in the ability to not only build
              powerful models but also effectively deploy and monitor them.</p>
            <p>
              By leveraging AIHub, businesses can gain a competitive advantage. They can make data-driven decisions,
              improve operational efficiency, enhance customer experiences, and drive innovation. Our aim is to empower
              businesses to unlock the full potential of AI and ML, positioning themselves at the forefront of their
              industries.</p>
            <p>
              Join us on this transformative journey as we revolutionize the way businesses harness the power of AI and
              ML. Together, let's embrace the future of intelligent technologies and unlock limitless possibilities with
              AIHub.
            </p>
            <a href="https://www.hariomvyas.com/" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sevices</h2>
          <p>We offer end-to-end services related to Artificial Intelligence (AI) and Machine Learning (ML)</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                  </path>
                </svg>
                <i class="ri-table-line"></i>
              </div>
              <h4><a href="">Data Management</a></h4>
              <p>Manage your and your organization's data within our system. Clean, Pre-process your data with one click.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426">
                  </path>
                </svg>
                <i class="ri-pie-chart-box-line"></i>
              </div>
              <h4><a href="">Data Analysis</a></h4>
              <p>AI generated data analysis with one click. No-Code Platform, Easy and simple to use.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781">
                  </path>
                </svg>
                <i class="ri-terminal-box-line"></i>
              </div>
              <h4><a href="">Machine Learning</a></h4>
              <p>Develop machine learning solution with ease. Upload, Pre-process, and Train.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Sevices Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our team may be small in size, but we are a powerhouse of talent and expertise.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Hariom Vyas</h4>
                <span>Data Scientist / Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-info">
                <h4>Internet</h4>
                <span>Knowledge Partner</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-info">
                <h4>Stackoverflow</h4>
                <span>Problem Solver</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-info">
                <h4>ChatGPT</h4>
                <span>Assitant / Content Writer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">What is AIHub?<i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  AIHub is a centralized platform that provides comprehensive services for machine learning (ML) and
                  artificial intelligence (AI). It offers user-friendly tools for data management, analysis, model
                  building, deployment, and monitoring.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">Who can benefit from AIHub?<i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  AIHub is designed to benefit businesses of all sizes and industries. Whether you're a small startup or
                  a large enterprise, AIHub provides the tools and capabilities to leverage the power of AI and ML for
                  improved decision-making, operational efficiency, and innovation.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">How does AIHub simplify the implementation of AI and ML?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  AIHub simplifies implementation by offering a user-friendly interface and a centralized platform that
                  streamlines the entire process. It provides intuitive tools for data management, analysis, and model
                  building, making it easier for businesses to adopt and integrate AI and ML solutions into their
                  workflows.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">Can AIHub integrate with existing systems and workflows?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Absolutely! AIHub is designed to seamlessly integrate with existing systems and workflows. It ensures
                  a smooth transition, minimal disruption, and enables businesses to leverage their existing
                  infrastructure while benefiting from the advanced capabilities of AI and ML.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">What are the benefits of using AIHub? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Using AIHub brings numerous benefits. It enables faster development and deployment of ML models,
                  improves accuracy and efficiency of predictions, reduces costs and time-to-market, and empowers
                  businesses to make data-driven decisions and gain a competitive advantage.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6"
                class="collapsed">Does AIHub offer deployment and monitoring capabilities? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, AIHub goes beyond model building and analysis. It provides robust deployment and monitoring
                  capabilities, allowing businesses to efficiently deploy ML models into production and continuously
                  monitor their performance. This ensures optimal results and the ability to make timely adjustments for
                  improved accuracy and efficiency. </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7"
                class="collapsed">Is AIHub scalable for businesses with varying needs? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Absolutely! AIHub is scalable and can adapt to the needs of businesses, regardless of their size or
                  industry. Whether you're just starting your AI journey or looking to scale your existing AI
                  capabilities, AIHub provides the flexibility to grow alongside your business. </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8"
                class="collapsed">Is AIHub suitable for businesses without prior AI or ML experience? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, AIHub is designed to be user-friendly and accessible even for businesses without prior AI or ML
                  experience. The platform provides intuitive tools and guidance, empowering users to explore and
                  utilize AI and ML technologies without the need for extensive technical expertise. </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9"
                class="collapsed">Can you provide support and training for using AIHub? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, we offer comprehensive support and training resources to assist businesses in getting started
                  with AIHub. Our dedicated team is available to provide guidance, answer questions, and ensure a smooth
                  onboarding experience. </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10"
                class="collapsed">How can I get started with AIHub? <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
                <p>
                  To get started with AIHub, simply reach out to our team through our website or contact us directly.
                  We'll be happy to discuss your specific needs, provide further information, and guide you through the
                  process of implementing AIHub for your business. </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>AIHub</h3>
            <p>
              University of Maryland, Baltimore County <br>
              1000 Hilltop Circle, Baltimore, MD 21250<br>
              United States <br><br>
              <strong>Phone:</strong> +1 410-455-2537<br>
              <strong>Email:</strong> info@umbc.edu<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Machine Learning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Deployment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Monitoring</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Be the first to learn about our new features.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>AIHub</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://hariomvyas.com/">Hariom Vyas</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/home/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/home/vendor/aos/aos.js"></script>
  <script src="static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/home/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/home/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/home/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/home/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/home/js/main.js"></script>

</body>

</html>